@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: "SUIT-Regular";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "SUIT-Regular";
}
.header_right {
  display: flex;
  align-items: center;
}
.header_inputBox {
  display: flex;
  width: 50%;
}
.Search {
  font-size: 1.5rem;
  color: gray;
}
.header_input {
  width: 100%;
  height: 20px;
  padding: 15px 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid gray;
}

.product_list {
  margin-right: 20px;
  background-color: #395e97;
  padding: 10px;
  border: 1px solid #395e97;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}

.product_list_text {
  text-decoration: none;
  color: rgb(17, 17, 17);
  height: 18px;
  margin-right: 10px;
  box-sizing: border-box;
}
.login_btn {
  background-color: #395e97;
  color: white;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #395e97;
  border-radius: 10px;
  width: 100px;
  height: 42px;
  cursor: pointer;
  box-sizing: border-box;
}

.photoURL {
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.username {
  color: rgb(74, 74, 74);
}
.edit {
  color: gray;
  font-size: 1.2rem;
}
.login_userMenu {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* 메인 */
.main_img {
  width: 100%;

  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}
.mainitembox{
  width: 200px;
}

/* 마이페이지 */

.tables{
  width: 80% !important;
  margin-top:5%;
  background-color: white;
 
}
.tables_wrap{
  width: 100%;
  border: 1px solid red;
}
.mapage_address_wrap{
  display: flex;
  height: 40px;
  align-items: center;
}

.mypage_input{
  margin-left:20px;
  border:none;
  border:1px solid rgb(200, 200, 200);
  border-radius: 10px;
  text-align: center;
  color:navy;
  height: 30px;
}
.mypage_address_input{
  height: 30px;
  border:none;
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
  border:1px solid rgb(200, 200, 200);
  color:navy;
}

.MyPage_Location_btn{
  background-color: transparent;
  border: none;
  color:gray;
  font-size: 1.5rem;
}

.myPage_SearchBox{
  display: flex;
  position: relative;
  width: 100%;

}


.padding{
  width: 300px;
  height: 100vh;
  background-color: #EAEAEA;
  
}
.mypage_edit{
  display: flex;
}
.mypage_edit_btn{
  width: 400px;
  background-color: #395e97 !important;
  height: 50px;
  color:white;
  margin-top:20px;
  border: none;
  float: right;
  margin-right: 50%;
  font-size: 1.5rem;
}
.mypage_navigate_header{
  width: 100%;
  height: 300px;
  background-color:#395E97;
  text-align: center;
  color:white;
  padding:40% 0;
}

.mypage_navigate{
  margin:50px 0;
  text-align: center;
  font-size: 1.4rem;
  
}


/* 마이리스트 */

.myproductlist{
 float: left;
}



/* 디테일 페이지 */

.product_wrap{
  padding:50px;
  margin-top:5%;
  background-color: #f9f9f9;
}
.product_title{
  margin-bottom: 10%;
}
.company_info{
  width: 90%;
  padding:30px;
  border : 1px dotted gray;
  background-color: rgb(255, 255, 255)
}